.outerboxContact {
    background: linear-gradient(45deg, #a0c2f8ff, #fd9bc9ff, #fbea9dff, #f3fcf0ff);
}

.innerboxContact {
    flex-grow: 1;
    max-width: var(--basic-screen-width);
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - var(--size-header) - var(--size-footer));
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: var(--fontsize-600);
}
