.headerOuterbox {
    background: var(--blue);
}

.headerInnerbox {
    overflow: hidden;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center !important;
}

.headerSpacer {
    color: var(--blue);
}

.headerMenuWrapper {
    flex-shrink: 0;
}

.headerLogo{
    color: var(--yellow);
    padding: 0;
    margin:0;
    line-height: var(--line-height-headings);

}

.headerMenu {
    font-size: var(--fontsize-800);
}

@media (max-width: 1150px) {
    .headerLogoHide {
        display: none;
    }
}

@media (min-width: 769px) {
    .headerInnerbox {
        justify-content: space-around;
    }
}
