.footerOuterbox {
    background: var(--blue);
}

.footerInnerbox {
    overflow: hidden;
    flex-direction: row !important;
    justify-content: center;
}

.footerText {
    color: var(--yellow);
    padding: 0;
    margin: 0;
    font-size: var(--fontsize-400);
    line-height: 0.7;
}
