.experienceWrapper {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.lineWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    box-sizing: content-box;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: var(--yellow);
    border: 8px solid var(--rose);
    box-shadow: 0 0 0 8px var(--white) inset;
    position: relative;
    z-index: var(--third-layer);
}

.circle::before {
    content: '';
    position: absolute;
    border: 4px solid var(--rose);
    top: 33px;
    left: calc(50% - 4px);
}

.line {
    flex-grow: 1;
    border: 4px solid var(--rose);
}

.dateWrapper {
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    font-size: var(--fontsize-500);
    font-weight: var(--font-weight-600);
    font-family: monospace;
    white-space: nowrap;
}

.titleAndCompanyWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.titleWrapper {
    min-height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleBox {
    background: var(--blue);
    border-radius: 0.2em;
    box-shadow: 4px 4px 0px 0px var(--rose);
}

.title {
    padding: 0.2em;
    color: var(--yellow);
    font-weight: var(--font-weight-600);
    line-height: 1;
    text-align: center;
}

.introduction {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.experienceWrapper ul {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: inside;
}
